html{
	height: 100%;
	width: 100%;
}
body {
	width: 100vw;
	height: 100vh;
	background-color: #3AC1A3;
	display: flex;
	flex-direction: column;
	align-items: center;
}
*{
	margin: 0;
	padding: 0;
}
#champs{
	position: absolute;
	align-self: flex-start;
	margin-left: 1%;
}
.containerGroups{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #D2E1F2;
	border: 0.3VW solid #1A826B;
	border-radius: 1VW;
	height: 100%;
	width: 99%;
}
.baseTable{
	position: relative;
	float: left;
	clear:both;
	align-self: center;
  			
}
.container{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	height: 90%;
	max-height: 100%;
	width: 100%;
}		
.containerData{
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #1A826B;
	text-align: center;
	height: 100%;
	max-height: 100%;
	width: 50%;
	border: 0.5VW solid #3AC1A3;
	border-radius: 1VW;
}
.titleTables{
	margin-top: 1VH;
	text-align: center;
	font-size: 3VH;
	font-weight: bold;
}
.tabCaption{
	margin: 0;
	text-align: center;
	font-weight: bold;
	border: 1px solid #655E82;
	background-color: #C6375C;
}
.tab {
	width: 100%;
	border: 1px solid #655E82;
	border-radius: 0.5VW;			
}
.tabThead {
	width: 100%;
}
.tabTr {
	width: 100%;
	border-radius: 5px;
	padding: 30px;
	margin-bottom: 30px;
	background-color: #6F9996;	
}  
.tabTd {
	padding: 1px;
	position: relative;
	text-align: center;
}

.tabTheadTh{
/*	color: #3f3f3f;*/
	text-align: center;
}

@keyframes go-back {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
.containers {
    animation: go-back 3s;
}

#baseBracket{
	width: 95%;
	height: 100%;
	padding: 0;
	justify-self: center;
	align-self: center;
}

#tabBracket{
	width: 100%;
	height: 50%;

}
#tabBracket tbody {
}
#tabBracket tbody tr td{
	table-layout:fixed;
	min-height: 10%;
    white-space:nowrap;
    overflow:hidden;
}

.tabBracketDivLine{
	display: block;
}

.tdDivLine{
	width: 100%;
}

#tabBracket thead tr th{
	margin-top: 2%;
	margin-bottom: 2%;
	font-size: 95%;
	text-align: center;
	height: 6%;
}

.tabSubBracket{
	margin: 1%;
	margin-left: 10%;
	margin-right: 0;
	width: 90%;
}
.tabSubBracket tr{
	font-size: 58%;
	border: 1px solid black;
}
.tabSubBracket tr td{
	font-size: 75%;
	background-color: #DCDCDC;
}
.tabSubBracket th{
	font-weight: 900;
	overflow:hidden;
	white-space:nowrap;
	background-color: #68B788;
}